################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/src/server/VYT/.vs/VYT
/Code/src/server/VYT/packages
/Code/src/server/VYT/VYT.DAL/obj/Debug
/Code/src/server/VYT/VYT.Models/obj/Debug
/Code/src/server/VYT/VYT.UnitTests/obj/Debug
/Code/src/server/VYT/VYT.ApplicationService/App_Data/FileStorage
/Code/src/server/VYT/VYT.ApplicationService/App_Data/uploads
/Code/src/server/VYT/VYT.ApplicationService/bin
/Code/src/server/VYT/VYT.ApplicationService/logs
/Code/src/server/VYT/VYT.ApplicationService/obj/Debug
/Code/src/server/VYT/VYT.DAL/bin/Debug
/Code/src/server/VYT/VYT.Models/bin/Debug
/Code/src/server/VYT/VYT.OcrProcessor.Service/bin/Debug
/Code/src/server/VYT/VYT.OcrProcessor.Service/obj/Debug
/Code/src/server/VYT/VYT.ProcessingStation/bin/Debug
/Code/src/server/VYT/VYT.ProcessingStation/obj/Debug
/Code/src/server/VYT/VYT.ProcessingStation.Service/bin/Debug
/Code/src/server/VYT/VYT.ProcessingStation.Service/obj/Debug
/Code/src/server/VYT/VYT.UnitTests/bin/Debug
/tesseract-ocr-w64-setup-v5.0.0-alpha.20200328.exe
/Code/src/server/VYT/VYT.ApplicationService/obj/Release
/Code/src/server/VYT/VYT.ApplicationService/FileStorage/9
/Code/src/server/VYT/VYT.ApplicationService/Publish
/Code/src/server/VYT/VYT.DAL/bin/Release
/Code/src/server/VYT/VYT.DAL/obj/Release
/Code/src/server/VYT/VYT.Models/bin/Release
/Code/src/server/VYT/VYT.Models/obj/Release
/Code/src/server/VYT/VYT.ProcessingStation/obj/Release
/Code/src/server/VYT/VYT.ProcessingStation.Service/obj/Release
/Code/src/server/VYT/VYT.UnitTests/obj/Release
